$yellow: #f2f23d;
$darkgreen: #1c3a2c;
$beige: #ffffdb;
$lightgreen: #98bf82;
$red: #c32924;
$white: #fff;
$darkslategrey: #2f4f4f;
$lightbrown: #fff7ef;

//global and calender button
$olivegreen: #6f9100;
$lightbrownButton: #efefef;
$brown: #a8865f;
$darkgreenButton: #1c3a2c;
$beigeButton: #ffffd9;

//media queries breakpoints
// use with mqd
$mobile_xs: 320px;
$mobile_s: 360px;
$mobile_l: 411px;

//use with mqtp
$tablet_s: 500px;
$tablet: 686px;
$tablet_l: 901px; // ipad pro

//use with mqml
$mobile_lxs: 600px;
$mobile_ls: 823px;

//use with mqtl
$landscape: 1px;
$tablet_ls: 824px;
$laptop: 1025px;
$desktop: 1500px;
$desktop_l: 1921px;
$desktop4k: 3500px;
