@import "styles/utilities";
@import "styles/variables";
@import "styles/queries";

.arrow_container{
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 10px;

      .arrowContainerLeft{

        .calendarButton_selected{
          width: 4.4rem;
          height: 1.5rem;
          margin-left: 40px;
        }

        .arrowIconLeft{
          transform: rotate(90deg);
          height: 2rem;
          width: 2rem;
          color: $lightgreen;
        }
      }

      .arrowContainerRight{

        .spanContainer{
          display: flex;

          .calendarButton{
            width: 4.8rem;
            height: 1.5rem;
            margin-left: 5px;
          }
        }

        .accolade{
          width: 10rem;
        }

        .arrowIconRight{
          transform: rotate(90deg);
          height: 2rem;
          width: 2rem;
          color: $lightgreen;
        }
      }
    }