@import "styles/utilities";
@import "styles/variables";
@import "styles/queries";

.duurzaam{
  display: grid;
  grid-template: repeat(5, auto) / 100px repeat(4, auto);
  gap: 7px 5px;
  padding-inline: 0.1rem; 
  width: 100%;
  max-width: 600px;

  @include mqtl($tablet_l){
      max-width: 730px;
    }

  p{
    font-size: 0.85rem;

    @include mqtp($tablet){
      font-size: 1.2rem;
    }

    @include mqtl($tablet_l){
      font-size: 1.2rem;
    }
    @include mqtl($laptop){
      font-size: 1rem;
    }
  }

    .logos{
      margin-top: 5px;
      grid-area: 1/1/2/4;
      

      .logo{
        width: 40px;
        margin-right: 5px;

        @include mqtp($tablet){
          width: 60px;
          margin-right: 10px;
        }

        @include mqtl($tablet_l){
          width: 60px;
          margin-right: 10px;
        }
      }
    }

    .text_options{
      grid-area: 2/1/3/4;
      background: none;
      color: $darkgreen;
    }

    .hamburgerContainer{
      grid-area: 3/1/4/2;
      position: relative;

      .menuLogo{
        width: 2.5rem;
        height: 2.5rem;
      }

      .overGoedeten{
        width: 4.7rem; 
        border-radius: 5px;
        position: absolute;
        bottom: 10px;
        left: 30px;
      }
    }

    .menu{
      padding-left: 0.4rem;
      grid-area: 3/2/4/4;
    }

    .of{
      grid-area: 4/2/5/3;
      text-transform: uppercase;
      font-style: italic;
      padding-left: 0.4rem;
    }

    .footerLogo{
      grid-area: 5/1/6/2;
      width: 6rem;
    }

    .infoGoedEten{
      grid-area: 5/2/6/4;
    }
}