@import "styles/utilities";
@import "styles/variables";
@import "styles/queries";

.kies_maaltijd{
  display: grid;
  grid-template: repeat(6, auto) / 45px auto;
  gap: 7px 5px;
  padding-inline: 0.1rem; 
  width: 100%;
  max-width: 600px;

  @include mqtl($tablet_l){
      max-width: 730px;
    }

  p{
    font-size: 0.85rem;

    @include mqtp($tablet){
      font-size: 1.2rem;
    }

    @include mqtl($tablet_l){
      font-size: 1.2rem;
    }
    @include mqtl($laptop){
      font-size: 1rem;
    }
  }

 .arrowOne{
    color: $lightgreen;
    grid-area: 1/1/2/1;
    font-size: 2rem;

    @include mqtp($tablet){
      font-size: 2.3rem;
    }

    @include mqtl($tablet_l){
      font-size: 2.3rem;
    }
 }

  .cloche_containerTop{
    width: 35px;
    height: 35px;
    background: $beige;
    border-radius: 50%;
    display: grid;
    place-items: center;
    grid-area: 1/1/2/1;

    @include mqtp($tablet){
      width: 40px;
      height: 40px;
    }

    @include mqtl($tablet_l){
      width: 40px;
      height: 40px;
    } 

    .cloche_img{
      width: 27px;
      margin-bottom: 0.2rem;

      @include mqtp($tablet){
      width: 32px;
    }

      @include mqtl($tablet_l){
      width: 32px;
    }
    }
  }


  .text1{
    grid-area: 1/2/2/3;
    display: flex;
    align-self: center;

  }
  .text_options{
    grid-area: 2/2/3/3;
    text-transform: uppercase;
    font-style: italic;
    background: none;
    color: $darkgreen;
  }

  .arrowTwo{
    color: $lightgreen;
    grid-area: 3/1/4/1;
    font-size: 2rem;

    @include mqtp($tablet){
      font-size: 2.3rem;
    }

    @include mqtl($tablet_l){
      font-size: 2.5rem;
    }
  }

  .cloche_containerMiddle{
    width: 35px;
    height: 35px;
    background: $beige;
    border-radius: 50%;
    display: grid;
    place-items: center;
    grid-area: 3/1/4/1;

    @include mqtp($tablet){
      width: 40px;
      height: 40px;
    }

    @include mqtl($tablet_l){
      width: 40px;
      height: 40px;
    } 

    .cloche_img{
      width: 27px;
      margin-bottom: 0.2rem;

      @include mqtp($tablet){
      width: 32px;
    }

      @include mqtl($tablet_l){
      width: 32px;
    }
    }
  }

  .text2{
    grid-area: 3/2/4/2;
  }

  .cloche_containerBottom{
    width: 35px;
    height: 35px;
    background: $beige;
    border-radius: 50%;
    display: grid;
    place-items: center;
    grid-area: 4/1/5/1;
    position: relative;

    @include mqtp($tablet){
      width: 40px;
      height: 40px;
    }

    @include mqtl($tablet_l){
      width: 40px;
      height: 40px;
    } 

    .cloche_img{
      width: 27px;
      margin-bottom: 0.2rem;

      @include mqtp($tablet){
        width: 32px;
      }

      @include mqtl($tablet_l){
        width: 32px;
      }
    }
  
    .orderNumber{
      font-size: 0.6rem;
      background: $red;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      color: $beige;
      display: grid;
      place-items: center;
      position: absolute;
      top: 6px;
      right: 4px;
    }
  }
  
  .text3{
    grid-area: 4/2/5/2;
  }
}