@import "styles/utilities";
@import "styles/variables";
@import "styles/queries";

.koks{
  display: grid;
  grid-template: repeat(3, auto) / 70px repeat(2, auto);
  gap: 7px 5px;
  padding-inline: 0.1rem; 
  width: 100%;
  max-width: 650px;

  @include mqtp($tablet){
    grid-template-columns: 100px repeat(2, auto);
  }

  @include mqtl($tablet_l){
    grid-template-columns: 100px repeat(2, auto);
  }

  @include mqtl($tablet_l){
      max-width: 730px;
    }

  p{
    font-size: 0.85rem;

    @include mqtp($tablet){
      font-size: 1.2rem;
    }

    @include mqtl($tablet_l){
      font-size: 1.2rem;
    }
    @include mqtl($laptop){
      font-size: 1rem;
    }
  }

  .calendarButton{
    width: 4rem;
    height: 1.4rem;

    @include mqtp($tablet){
      width: 5.9rem;
      height: 2rem;
      font-size: 1rem;
    }

    @include mqtl($tablet_l){
      width: 5.9rem;
      height: 2rem;
      font-size: 1rem;
      align-self: flex-start;
    }
  }

    .text1{
      grid-area: 1/2/2/3;
    }

    .text_options{
      grid-area: 2/2/3/3;
      text-transform: uppercase;
      font-style: italic;
      background: none;
      color: $darkgreen;
  }

  .jitske{
    grid-area: 3/1/4/2;
    width: 3rem;
    border-radius: 50%;
    border: 1px solid $lightgreen;
    margin: 0 auto;
  }

  .text2{
    grid-area: 3/2/4/2;
    margin-bottom: 10px;
  }
}