@import "styles/utilities";
@import "styles/variables";
@import "styles/queries";

.options{
  width: 100%;
  display: flex;
  justify-content: space-between;

  .image{
    width: 40px;
    object-fit: contain;
    position: absolute;
    top: 7px;
    left: 45px;

    @include mqtp($tablet){
      left: 55px;
    }

    @include mqtl($tablet_l){
      left: 55px;
    }
  }

  .text{
    font-size: 0.7rem;
    text-align: center;
    color: $beige;
    position: absolute;
    top: 35px;
    padding-inline: 0.3rem;

    span{
      text-transform: uppercase;
      font-weight: 600;
      color: $brown;
    }

    @include mqtp($tablet){
      font-size: 0.9rem;
    }

    @include mqtl($tablet_l){
      font-size: 0.9rem;
    }
  }

  .message{
    font-size: 0.7rem;
    background: $lightgreen;
    color: $beige;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    padding: 0.4rem 0.5rem;
    text-align: center;
    font-style: italic;
    
    @include mqd($mobile_s){
      top: 90px;
    }

    @include mqml($mobile_ls){
      top: 90px;
    }

    @include mqtp($tablet){
      width: 11rem;
      margin-left: -14px;
      font-size: 0.8rem;
      top: 105px;
    }

    @include mqtl($tablet_l){
      width: 12rem;
      margin-left: -21px;
      font-size: 0.7rem;
      top: 105px;
    }
  }

  .optionsLeft{
    display: flex;
    width: 50%;
    justify-content: center;

    .options_one{
      width: 130px;
      height: 130px;
      background: $darkgreen;
      border-radius: 50%;  
      position: relative;
      
      @include mqtp($tablet){
        width: 150px;
        height: 150px;
      }
    
      @include mqtl($tablet_l){
        width: 150px;
        height: 150px;
      }
    }    
  }

  .optionsRight{
    display: flex;
    width: 50%;
    justify-content: center;
  
    .options_two{
      width: 130px;
      height: 130px;
      background: $darkgreen;
      border-radius: 50%;  
      position: relative;

      @include mqtp($tablet){
        width: 150px;
        height: 150px;
      }

      @include mqtl($tablet_l){
        width: 150px;
        height: 150px;
      }
    }
  }
}