@import "styles/utilities";
@import "styles/variables";
@import "styles/queries";

.options{
  width: 100%;
  // background: red;
  display: flex;
  justify-content: space-between;
  margin-top: -5px;

  .image{
    width: 40px;
    object-fit: contain;
    position: absolute;
    top: 7px;
    left: 45px;

    @include mqtp($tablet){
      left: 55px;
    }

    @include mqtl($tablet_l){
      left: 55px;
    }
  }

  .text{
    font-size: 0.7rem;
    text-align: center;
    color: $beige;
    position: absolute;
    top: 35px;
    padding-inline: 0.3rem;

    span{
      text-transform: uppercase;
      font-weight: 600;
      color: $brown;
    }

    @include mqtp($tablet){
      font-size: 0.9rem;
    }

    @include mqtl($tablet_l){
      font-size: 0.9rem;
    }
  }

  .message{
    font-size: 0.7rem;
    background: $olivegreen;
    color: $beige;
    border-radius: 5px;
    position: absolute;
    top: 110px;
    padding: 0.4rem 0.5rem;
    text-align: center;
    font-style: italic;
    

    @include mqtp($tablet){
      width: 12rem;
      margin-left: -21px;
      font-size: 0.9rem;
    }

    @include mqtl($tablet_l){
      width: 12rem;
      margin-left: -21px;
      font-size: 0.9rem;
    }
  }

  .options_one{
  width: 130px;
  height: 130px;
  background: $darkgreen;
  border-radius: 50%;  
  margin-left: -65px;
  position: relative;
  
  @include mqtp($tablet){
    width: 150px;
    height: 150px;
    margin-left: -73px;
  }

  @include mqtl($tablet_l){
    width: 150px;
    height: 150px;
    margin-left: -73px;
  }
  } 

  .options_two{
  width: 130px;
  height: 130px;
  background: $darkgreen;
  border-radius: 50%;  
  margin-right: -65px;
  position: relative;

  @include mqtp($tablet){
    width: 150px;
    height: 150px;
    margin-right: -73px;
  }

  @include mqtl($tablet_l){
    width: 150px;
    height: 150px;
    margin-right: -73px;
  }
  }
}