.container{
    display: flex;
    // align-content: space-between;
    justify-content: space-between;
    // overflow: auto;

    .list{
        max-height: 100%;
        width: 100%;
        // overflow-y: 'scroll';
        
        
        span{
            font-size: small;
            margin: 0;            
        }

        div{
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .dropdown{
        // align-self: flex-end;
        width: 25%; 
    }


}