.container{
    display: flex;
    margin: 5px;
    // padding: 5px;
    // overflow: auto;

    .months{
        max-height: 100%;
        // overflow-y: 'scroll';
        
        
        span{
            font-size: small;
            margin: 0;
        }

        div{
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .days{
        max-height: 100%;
        overflow-y: 'scroll';
        
        
        span{
            font-size: small;
            margin: 0;
        }

        div{
            padding-top: 0;
            padding-bottom: 0;
        }
    }


}