@import "styles/utilities";
@import "styles/variables";
@import "styles/queries";

.faq {
  height: 100%;
  width: 100%;
  padding: 1rem 1.2rem;
  color: $darkgreen;
  background-image: url("/assets/images/backgroundimage.png");
  background-repeat: none;
  background-size: cover;
  background-position: center; 
  text-align: center;
  display: flex;
  justify-content: center;

  .title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 600px;
  }

  .vragen{
    text-align: left;

    .subtitle{
      font-size: 0.9rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .antwoorden{
      margin-bottom: 1rem;
    }
  }
}