@import "styles/utilities";
@import "styles/variables";
@import "styles/queries";

.faq {
  height: 100%;
  width: 100%;
  padding: 1rem 1.2rem;
  color: $darkgreen;
  background-image: url("/assets/images/backgroundimage.png");
  background-repeat: none;
  background-size: cover;
  background-position: center; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title{
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;

    @include mqtp($tablet){
      font-size: 3rem;
    }

    @include mqtl($tablet_l){
      font-size: 3rem;
    }
  }

  .vragen{
    text-align: left;
    width: 100%;
    max-width: 600px;

    @include mqtl($laptop){
      max-width: 700px;
    }

    .links{
      color: $lightgreen;
    }

    .subtitle{
      font-size: 0.9rem;
      font-weight: 600;
      margin-bottom: 1rem;
      text-align: center;

      @include mqtp($tablet){
        font-size: 1.5rem;
      }

      @include mqtl($tablet_l){
        font-size: 1.5rem;
      }
    }

    .antwoorden{
      margin-bottom: 1rem;

      @include mqtp($tablet){
        font-size: 1.2rem;
      }

      @include mqtl($tablet_l){
        font-size: 1.2rem;
      }
    }

    .overig{
      margin-bottom: 1rem;

      @include mqtp($tablet){
        font-size: 1.2rem;
      }

      @include mqtl($tablet_l){
        font-size: 1.2rem;
      }
    }
  }
}