@import "styles/utilities";
@import "styles/variables";
@import "styles/queries";

.main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}